@use "../variable" as *;

.btn{
    transition: all 0.3s ease-in-out;
    &-primary{
        background-color: color(500);
        color: color(50);
        border-color: color(500);
        &:hover, &:active{
            background-color: lighten($color: color(500), $amount: 5) !important;
            border-color: lighten($color: color(500), $amount: 5) !important;
        }
    }
}