@use "../variable" as *;

.commonHead{
    max-width: 900px;
    margin-bottom: 40px;
    &_subTitle{
        font-size: 20px;
        color: color(500);
        font-weight: 600;
    }
    &_title{
        font-size: 55px;
        font-family: $font-comrnt;
        color: color(900);
        font-weight: 700;
    }
    &_para{
        font-size: 22px;
        color: color(900);
    }
}