@use "../variable" as *;

// header section
.header{
    // position: absolute;
    // width: 100%;
    // top: 0;
    // left: 0;
    padding: 10px 0;
    background-color: color(50);
    &_tel{
        text-decoration:  none;
        padding: 12px 25px;
        display: inline-block;
        background-color: color(500);
        color: color(50);
        font-family: $font-common;
        font-weight: 700;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: lighten($color: color(500), $amount: 5);
        }
    }
    .navbar {
        padding: 0;
        &-brand{
            padding: 0;
            color: color(50);
            img{max-width: 150px;}
        }
    }
    .nav{
        &-link{
            padding: 0 !important;
            color: #000;
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                height: 1px;
                background-color: color(500);
                width: 0;
                left: 0;
                bottom: -2px;
                transition: width 0.3s ease-in-out;
            }
            &.active, &:hover{
                color: color(500);
                &:after{
                    width: 100%;
                }
            }
            &:not(:last-child){
                margin-right: 50px;
            }
        }
    }
}

//banner section
.bannerSec{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); 
        z-index: 1;
        pointer-events: none;
    }
    .swiper{
        height: 600px;
        &-slide img{width: 100%; height: 100%; object-fit: cover;}
        &-pagination-bullet{
            width: 16px;
            height: 16px;
            background-color: color(50);
            opacity: 1;
            &-active{
                background-color: color(500);
            }
        }
    }
    &_cnt{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 2;
        width: 100%;
        &_wrap{max-width: 700px;}
        &_title{
            font-size: 60px;
            text-transform: uppercase;
            color: color(50);
            font-weight: 700;
            margin-bottom: 20px;
            font-family: "Cormorant", sans-serif;
        }
        &_para{
            font-size: 24px;
            margin-bottom: 50px;
            line-height: 1.5;
            color: color(50);
            font-family: $font-common;
        }
    }
}

//enjoy section
.enjoySec{
    &_card{
        border:2px solid rgba($color: color(900), $alpha: 0.5);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        height: 100%;
        padding-bottom: 40px;
        box-shadow: 0 10px 10px rgba($color: color(900), $alpha: 0.1);
        &_img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: -1;
            transition: transform 0.5s ease-in-out;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
            }
        }
        &_cnt{
            padding: 30px;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
        }
        &_bottom{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px;
            color: color(50);
            background-color: rgba($color: color(900), $alpha: 0.5);
        }
        &_icon{
            width: 80px;
            height: 80px;
            border-radius:50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background:linear-gradient(to bottom, rgba($color: color(500), $alpha: 1),rgba($color: color(500), $alpha: 0.5));
            i{
                font-size: 30px;
                color: color(50);
            }
        }
        &:hover{
            .enjoySec_card{
                &_img{
                    transform: translateX(100%);
                    img{
                        transform: scale(1.05);
                    }
                }
                &_cnt{transform: translateY(0);}
            }
        }
    }
}

//about section
.aboutSec{
    &_left{
        &_control{
            img{
                max-width: 400px;
                border-radius: 10px;
            }
        }
        &_list{
            li{
                font-size: 18px;
                padding-left: 30px;
                position: relative;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
                i{
                    color: color(500);
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
            }
        }
        &_belief{
            font-size: 18px;
            font-weight: 600;
        }
    }
    &_right{
        &_cnt{padding-left: 80px;}
        i{
            position: absolute;
            color: color(500);
            left: 0;
            top: 0;
            font-size: 50px;
        }
        p{
            font-size: 18px;
            font-style: italic;
            line-height: 1.7;
        }
        span{font-weight: 600;}
    }
}