@use "../variable" as *;

// header
.header{
    padding: 10px 0;
    background-color: color(50);
    &_tel{
        text-decoration:  none;
        padding: 12px 25px;
        display: inline-block;
        background-color: color(500);
        color: color(50);
        font-family: $font-common;
        font-weight: 700;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: lighten($color: color(500), $amount: 5);
        }
    }
    .navbar {
        padding: 0;
        &-brand{
            padding: 0;
            color: color(50);
            img{max-width: 150px;}
        }
    }
    .nav{
        &-link{
            padding: 0 !important;
            color: #000;
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                height: 1px;
                background-color: color(500);
                width: 0;
                left: 0;
                bottom: -2px;
                transition: width 0.3s ease-in-out;
            }
            &.active, &:hover{
                color: color(500);
                &:after{
                    width: 100%;
                }
            }
            &:not(:last-child){
                margin-right: 50px;
            }
        }
    }
}